:root {
    --colorbackground: background-color: linear-gradient(90deg, rgba(165,94,33,1) 0%, rgba(169,146,44,1) 100%);
    --color1: gold;
    --color2: goldenrod;; 
    --color3: rgb(84, 60, 0);; 
    --white: #ffffff;
    --mainwidth: 80%;
  }

* {
    margin:0px;
    font-family: 'Berlin Sans FB';
    font-size: 105%;
}
body {
    justify-content: center;
    background-color: var(--colorbackground);
}
#main {
    margin: 0 auto;
    background-color: var(--color3);
    width: var(--mainwidth);
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}
#underbanner {
    margin: .5em;
    background-color: var(--color3);
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
}
#profilepic {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 2px;
    font-size: 0px;
    border: 4px solid black;
    transform: translateX(-50%);
}
#profilepic:hover {
    background-color:gold;
    border: 4px solid white;
}
#flag {
    border-radius: 10px;
    width: 140px;
    height: 70px;
    border: 4px solid black;
}
#flag:hover{
    border: 4px solid white
    
;}



.profilecontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center
}
.contentcontainer {
    margin: 10px auto;
    justify-content: center;
    justify-self: auto;
    align-self: center;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: antiquewhite;
    font-size: large;
    text-align: center;
    font-weight: 600;
    border: 5px solid black;
    transition: 0.3s;
}
.contentcontainer:hover {
    border: 5px solid rgb(255, 255, 255);
    font-size: 150%;
    transform: translateY(-8px);
}
